absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.10.2
ansicon==1.89.0
anyio==3.6.2
arrow==1.2.3
asciitree==0.3.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
autopage==0.5.1
autopep8==2.0.2
axial-attention==0.6.1
backcall==0.2.0
beautifulsoup4==4.12.0
blessed==1.20.0
cachetools==5.3.0
cdsapi==0.6.1
certifi==2022.12.7
cftime==1.6.2
charset-normalizer==3.1.0
click==8.1.3
cliff==4.2.0
cloudpickle==2.2.1
cmaes==0.9.1
cmd2==2.4.3
colorama==0.4.6
colorlog==6.7.0
comm==0.1.3
contourpy==1.0.7
croniter==1.3.8
cycler==0.11.0
dask==2023.3.1
dateutils==0.6.12
debugpy==1.6.6
decorator==5.1.1
deepdiff==6.3.0
dnspython==2.3.0
email-validator==1.3.1
entrypoints==0.4
executing==1.2.0
fastapi==0.88.0
fasteners==0.18
filelock==3.10.0
fonttools==4.39.2
frozenlist==1.3.3
fsspec==2023.3.0
google-auth==2.16.2
google-auth-oauthlib==0.4.6
greenlet==2.0.2
grpcio==1.51.3
h11==0.14.0
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
idna==3.4
importlib-metadata==6.1.0
inquirer==3.1.3
ipykernel==6.22.0
ipython==8.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.2.0
jupyter_client==8.1.0
jupyter_core==5.3.0
kiwisolver==1.4.4
lightning==2.0.0
lightning-cloud==0.5.32
lightning-utilities==0.8.0
llvmlite==0.39.1
locket==1.0.0
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
nest-asyncio==1.5.6
netCDF4==1.6.3
networkx==3.0
numba==0.56.4
numcodecs==0.11.0
numpy==1.23.5
oauthlib==3.2.2
optuna==2.10.1
ordered-set==4.1.0
orjson==3.8.9
packaging==23.0
pandas==1.5.3
parso==0.8.3
partd==1.3.0
patsy==0.5.3
pbr==5.11.1
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.1.1
prettytable==3.6.0
prompt-toolkit==3.0.38
protobuf==4.22.1
psutil==5.9.4
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pydantic==1.10.7
Pygments==2.14.0
PyJWT==2.6.0
pyparsing==3.0.9
pyperclip==1.8.2
pyreadline3==3.4.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-multipart==0.0.6
pytorch-lightning==1.9.4
pytz==2022.7.1
pywin32==305
PyYAML==6.0
pyzmq==25.0.2
readchar==4.0.5
requests==2.28.2
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.3.3
rsa==4.9
scikit-learn==1.1.3
scipy==1.10.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==2.0.7
stack-data==0.6.2
starlette==0.22.0
starsessions==1.3.0
statsmodels==0.13.5
stevedore==5.0.0
sympy==1.11.1
tabulate==0.9.0
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
tomli==2.0.1
toolz==0.12.0
torch==2.0.0
torch-tb-profiler==0.4.1
torchdata==0.6.0
torchmetrics==0.11.4
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.5.0
ujson==5.7.0
urllib3==1.26.15
uvicorn==0.21.1
watchfiles==0.19.0
wcwidth==0.2.6
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.3
xarray==2023.3.0
xbatcher==0.3.0
yarl==1.8.2
zipp==3.15.0
